## name: arial-base 
## author: arial

font_family      JetBrains Mono
bold_font        auto
italic_font      auto
bold_italic_font auto
enable_audio_bell no
font_size 9.0
window_padding_width 2
include theme.conf
cursor_trail 1
background_opacity 0.60

#hide_window_decorations yes
confirm_os_window_close 0

cursor                   {{foreground}}
#cursor_text_color        {{foreground}} 

#active_tab_foreground   {{text}} 
#active_tab_background   {{background}} 
#inactive_tab_foreground {{text}} 
#inactive_tab_background {{background}}

#mark1_foreground         {{text}} 
#mark1_background         {{accent2}} 

#active_border_color      {{accent1}} 
#inactive_border_color    {{accent2}} 

#selection_foreground     {{background}}
#selection_background     {{text}} 

#url_color                {{accent1}}

color0                   {{color0}}
color1                   {{color1}}
color2                   {{color2}}
color3                   {{color3}}
color4                   {{color4}}
color5                   {{color5}}
color6                   {{color6}}
color7                   {{color7}} 
color8                   {{color8}}
color9                   {{color9}}
color10                  {{color10}}
color11                  {{color11}}
color12                  {{color12}} 
color13                  {{color13}}
color14                  {{color14}}
color15                  {{color15}}
